Final Project

VIX Rakamin Academy with id/x partners

M. Hazim M.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Data science workflow

<img src='https://dagshub.com/blog/content/images/2021/12/Data-Science-Project-Lifecycle.jpeg'>

=> Data Science Project Lifecycle. (Drawn by Nir Barazida)

To better understand the challenges in the experiment tracking workflow, let's first define the steps involved in a typical project:

1. Understand the business problem at hand.
2. Gather the raw data.
3. Explore, transform, clean, and prepare the data.
4. Create and select models based on the data.
5. Train, test, tune and deploy the model.
6. Monitor the model's performance.

Refrences: https://dagshub.com/blog/data-science-workflows-to-track-experiments/

# 1.0 Business Understanding

=> Context: 
A credit score can help the bank to determine a consumer's creditworthiness. The higher the score, the better a borrower looks to potential lenders. A credit score is based on credit history: number of open accounts, total levels of debt, repayment history, and other factors. Lenders use credit scores to evaluate the probability that an individual will repay loans in a timely manner.

A credit score can significantly affect the customer that uses it. It plays a key role in a lender's decision to offer you credit. People with credit scores lower, for example, are generally considered to be subprime borrowers. Lending institutions often charge interest on subprime mortgages at a rate higher than a conventional mortgage in order to compensate themselves for carrying more risk. 

=> Objective: 
For this project, we won't calculate the credit score, rather we want to classify the customer that is 'good' or 'bad' consumer creditworthiness. So, using the dataset given dataset, IDX partners want Us to create a model to predict loan credit risk. Then, we need to create a visual presentation to present the result to the client.


=> Refrences: 
- https://www.kaggle.com/datasets/wordsforthewise/lending-club?datasetId=902&sortBy=voteCount
- https://www.kaggle.com/code/faressayah/lending-club-loan-defaulters-prediction

## Variable description

In [ ]:
# import libraries

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

# set the max columns to none
pd.set_option('display.max_columns', None)

In [ ]:
# read the csv file
link1 = '/content/drive/MyDrive/0.Data_analyst_important_thing/1.VIX_rakamin_DS_IDX/Tugas2_VIX_Rakamin_DS_IDX/file/loan_data_2007_2014.csv'
df = pd.read_csv(link1)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Variable description:
- https://docs.google.com/spreadsheets/d/1FDdiHPD7s0020vAQOvHd9nVtDtCpLcT5/edit?usp=sharing&ouid=112964470904667494186&rtpof=true&sd=true

# 2.0 Data Understanding
- look at the head and tail of the data
- Info of the data (the index data type and columns, non-null values, and memory usage)
- total row and column (shape)
- Look at each column value (which one is useful and not)
- Statistic descriptive (describe); 
  - For numeric data, the result’s index will include count, mean, std, min, max as well as lower, 50(median) and upper percentiles.
  - For object data (e.g. strings or timestamps), the result’s index will include count, unique, top, and freq. The top is the most common value. The freq is the most common value’s frequency. Timestamps also include the first and last items.

In [ ]:
# head of the data
df.head(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.0,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.0,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Tail of the data
df.tail(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.0,0.0,0.0,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.0,0.0,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.0,0.0,0.0,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [ ]:
# Info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [ ]:
# Summary statistic
df.describe()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,466285.000000,4.662850e+05,4.662850e+05,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,4.662810e+05,466285.000000,466256.000000,466256.000000,215934.000000,62638.000000,466256.000000,466256.000000,4.662850e+05,465945.000000,466256.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466285.000000,466140.000000,98974.000000,466285.0,0.0,0.0,0.0,466256.000000,3.960090e+05,3.960090e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.960090e+05,0.0,0.0,0.0
mean,233142.000000,1.307973e+07,1.459766e+07,14317.277577,14291.801044,14222.329888,13.829236,432.061201,7.327738e+04,17.218758,0.284678,0.804745,34.104430,74.306012,11.187069,0.160564,1.623020e+04,56.176947,25.064430,4410.062342,4408.452258,11540.686220,11469.892747,8866.014657,2588.677225,0.650129,85.344211,8.961534,3123.913796,0.009085,42.852547,1.0,NaN,NaN,NaN,0.004002,1.919135e+02,1.388017e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.037909e+04,NaN,NaN,NaN
std,134605.029472,1.089371e+07,1.168237e+07,8286.509164,8274.371300,8297.637788,4.357587,243.485550,5.496357e+04,7.851121,0.797365,1.091598,21.778487,30.357653,4.987526,0.510863,2.067625e+04,23.732628,11.600141,6355.078769,6353.198001,8265.627112,8254.157579,7031.687997,2483.809661,5.265730,552.216084,85.491437,5554.737393,0.108648,21.662591,0.0,NaN,NaN,NaN,0.068637,1.463021e+04,1.521147e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.724713e+04,NaN,NaN,NaN
min,0.000000,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,5.420000,15.670000,1.896000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,NaN,NaN,NaN,0.000000,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
25%,116571.000000,3.639987e+06,4.379705e+06,8000.000000,8000.000000,8000.000000,10.990000,256.690000,4.500000e+04,11.360000,0.000000,0.000000,16.000000,53.000000,8.000000,0.000000,6.413000e+03,39.200000,17.000000,0.000000,0.000000,5552.125349,5499.250000,3708.560000,957.280000,0.000000,0.000000,0.000000,312.620000,0.000000,26.000000,1.0,NaN,NaN,NaN,0.000000,0.000000e+00,2.861800e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.350000e+04,NaN,NaN,NaN
50%,233142.000000,1.010790e+07,1.194108e+07,12000.000000,12000.000000,12000.000000,13.660000,379.890000,6.300000e+04,16.870000,0.000000,0.000000,31.000000,76.000000,10.000000,0.000000,1.176400e+04,57.600000,23.000000,441.470000,441.380000,9419.250943,9355.430000,6817.760000,1818.880000,0.000000,0.000000,0.000000,545.960000,0.000000,42.000000,1.0,NaN,NaN,NaN,0.000000,0.000000e+00,8.153900e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.280000e+04,NaN,NaN,NaN
75%,349713.000000,2.073121e+07,2.300154e+07,20000.000000,20000.000000,19950.000000,16.490000,566.580000,8.896000e+04,22.780000,0.000000,1.000000,49.000000,102.000000,14.000000,0.000000,2.033300e+04,74.700000,32.000000,7341.650000,7338.390000,15308.158460,15231.310000,12000.000000,3304.530000,0.000000,0.000000,0.000000,3187.510000,0.000000,59.000000,1.0,NaN,NaN,NaN,0.000000,0.000000e+00,2.089530e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.790000e+04,NaN,NaN,NaN
max,466284.000000,3.809811e+07,4.086083e+07,35000.000000,35000.000000,35000.000000,26.060000,1409.990000,7.500000e+06,39.990000,29.000000,33.000000,188.000000,129.000000,84.000000,63.000000,2.568995e+06,892.300000,156.000000,32160.380000,32160.380000,57777.579870,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36234.440000,20.000000,188.000000,1.0,NaN,NaN,NaN,5.000000,9.152545e+06,8.000078e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999999e+06,NaN,NaN,NaN

In [ ]:
df.describe(include=['object'])

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type
count,466285,466285,466285,438697,445277,466285,466285,466285,466285,466285,466285,125983,466285,466265,466285,466285,466256,466285,465909,239071,466243,466285
unique,2,7,35,205475,11,6,3,91,9,2,466285,124436,14,63099,888,50,664,2,98,100,103,1
top,36 months,B,B3,Teacher,10+ years,MORTGAGE,Verified,Oct-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,,debt_consolidation,Debt consolidation,945xx,CA,Oct-00,f,Jan-16,Feb-16,Jan-16,INDIVIDUAL
freq,337953,136929,31686,5399,150049,235875,168055,38782,224226,466276,1,234,274195,164075,5304,71450,3674,303005,179620,208393,327699,466285

In [ ]:
df.sample(2)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
260229,260229,34401874,37065136,30000,30000,30000.0,60 months,20.99,811.44,E,E4,Distribution supervisor,10+ years,OWN,60250.0,Verified,Nov-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,380xx,TN,30.50,1.0,Oct-95,1.0,20.0,NaN,14.0,0.0,25666,60.7,38.0,w,25496.48,25496.48,11307.68000,11307.68,4503.52,6804.16,0.0,0.0,0.0,Jan-16,811.44,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,81239.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42300.0,NaN,NaN,NaN
43322,43322,10178285,12029933,20000,20000,20000.0,36 months,17.57,718.75,D,D2,Medical Science Manager,1 year,RENT,170000.0,Source Verified,Dec-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt cosolidation loan,272xx,NC,10.68,0.0,May-05,3.0,NaN,NaN,15.0,0.0,24168,60.0,23.0,f,0.00,0.00,23931.64704,23931.65,20000.00,3931.65,0.0,0.0,0.0,May-15,13150.53,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,65934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40300.0,NaN,NaN,NaN

In [ ]:
df['application_type'].unique()

array(['INDIVIDUAL'], dtype=object)

In [ ]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

## Note for target and feature variable:

- Feature variable and Target variable:
  - Target Variable: 'loan_status'
  - Feature Variable: All variables except the target variable

- Target Variable:
  - 'Fully Paid': fully paid means the payment in cash or cash equivalents in full of all obligations (other than indemnity obligations that survive payment in full) under the Credit Facility Loan Documents. (https://www.lawinsider.com/dictionary/fully-paid)

  - 'Charged Off': A charge-off does not mean you no longer have to repay a debt. A creditor can still come after full payment. A charge-off occurs when an account is seriously delinquent — for credit cards, that’s after 180 days of not making the minimum payment. (https://www.nerdwallet.com/article/finance/credit-card-debt-charged-off)

  - 'Current': Current Loan means, as of any date, a Loan as to which all payments of principal and interest then due have been paid, except for the most recent payment then due of principal and interest. (lawinsider.com/dictionary/current-loan#:~:text=Current%20Loan%20means%20any%20loan,date%20according%20to%20a%20contract.)

  - 'Default': Defaulting on a loan is the failure of a borrower to pay the principal or interest on a security or loan. (https://www.bankrate.com/glossary/l/loan-default/#:~:text=Defaulting%20on%20a%20loan%20is,he%20defaults%20on%20the%20loan.)

  - 'Late (31-120 days)'

  - 'In Grace Period': A grace period is a period of time creditors give borrowers to make their payments before incurring a late charge or risk defaulting on the loan. 

  - 'Late (16-30 days)'

  - 'Does not meet the credit policy. Status:Fully Paid'; While the loan was paid off, the loan application today would no longer meet the credit policy and wouldn’t be approved on to the marketplace. (https://www.uxax.org/post/data-cleaning-and-preparation-for-machine-learning#:~:text=2Does%20not%20meet%20the%20credit,approved%20on%20to%20the%20marketplace.)

  - 'Does not meet the credit policy. Status:Charged Off'; While the loan was charged off, the loan application today would no longer meet the credit policy and wouldn’t be approved on to the marketplace. (https://www.uxax.org/post/data-cleaning-and-preparation-for-machine-learning#:~:text=2Does%20not%20meet%20the%20credit,approved%20on%20to%20the%20marketplace.)

- That means:
  - 0: good loaner / low risk
    - 'Fully Paid', 'Current'
  - 1: Bad loaner / High risk
    - 'Charged Off', 'Default', 'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)', 'Does not meet the credit policy. Status:Fully Paid', 'Does not meet the credit policy. Status:Charged Off'

## Note for cleaning the dataset:

- There are some column that don't have any data, the tables are:
  - 'inq_last_12m', 'total_cu_tl', 'inq_fi', 'open_acc_6m',	'open_il_6m',	'open_il_12m',	'open_il_24m',	'mths_since_rcnt_il',	'total_bal_il',	'il_util',	'open_rv_12m',	'open_rv_24m',	'max_bal_bc',	'all_util', 'annual_inc_joint',	'dti_joint','verification_status_joint'
  - We should consider deleting all columns listed above because it completely null

- At a glance, there is some column that is not important:
  - 'Unnamed: 0': because it's like id in dataframe
  - 'zip_code', 'desc', 'url', 'title': Hard to interpret, too much unique value (as an object), and it's not suitable for modeling
  - 'application_type': It's only has one value, it's not gonna have 0 correlation with another variable
  - We should consider deleting all columns listed above because it's not important


- Handle the columns that should have date as their data type:
  - 'issue_d', 'next_pymnt_d',	'last_credit_pull_d', 'last_pymnt_d', 'earliest_cr_line'
  - All of those columns are not really helping in classifying good or bad loaners, consider dropping it.
  - Because of data leakage, we wouldn't know when our model will use to predict the loan risk.
  - In simple terms, Data Leakage occurs when the data used in the training process contains information about what the model is trying to predict. It appears like “cheating” but since we are not aware of it so, it is better to call it “leakage” instead of cheating.
  - Reference: https://www.analyticsvidhya.com/blog/2021/07/data-leakage-and-its-effect-on-the-performance-of-an-ml-model/


- We need to look at the outliers, treating outliers can reduce variance and increase the accuracy of the model

- We need to look at the data consistency, just in case some value is not consistence

- We need to look if there is any duplicate value.

# 3.0 Data Cleaning (Part 1)
Check:
- consistency value / data unique(data quality), 
  Look at:
  1. Writing error / inconsistent value
  2. Measurement error
  3. Inconsistent labels
  4. Reconsider the column, should we use it or not; etc
- Missing value
  - If you find missing values in your dataset you must handle it. If you find any missing values in the dataset you can perform any of these three task on it: 
    1. Leave as it is, or
    2. Filling the missing values, or
    3. Drop them
- Duplicate values
- Look at the data type, is it correct or not.
- Outliers; “Not all the outliers are bad data points. Some can be errors but others are valid values.”
  How to handle outliers: Eliminating, rescalling, leave it/doing nothing
  How to detect the outliers in the dataset. 
  1. Box Plot 
  2. Scatter plot 
  3. Z-score etc
- Convert Data value, in some case, like in this dataset it doesn't have age but birth number, so we can convert that

## a. Delete Columns with all Null values and not important columns (part 1)

In [ ]:
no_use_columns = [
    'inq_last_12m', 'total_cu_tl', 'inq_fi', 'open_acc_6m',	
    'open_il_6m',	'open_il_12m',	'open_il_24m',	'mths_since_rcnt_il',	
    'total_bal_il',	'il_util',	'open_rv_12m',	'open_rv_24m',	'max_bal_bc',	
    'all_util', 'annual_inc_joint',	'dti_joint','verification_status_joint',
    'Unnamed: 0', 'zip_code', 'desc', 'url', 'title', 'application_type',
    'issue_d', 'next_pymnt_d',	'last_credit_pull_d', 
    'last_pymnt_d', 'earliest_cr_line'
]

df.drop(no_use_columns, inplace=True, axis=1)

In [ ]:
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Fully Paid,n,credit_card,AZ,27.65,0.0,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.0,0.00,0.00,171.62,0.0,NaN,1,0.0,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,car,GA,1.00,0.0,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,119.66,0.0,NaN,1,0.0,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,small_business,IL,8.72,0.0,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.0,0.00,0.00,649.91,0.0,NaN,1,0.0,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 47 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  loan_status                  466285 non-null  object
 16  pymnt_plan                   466285 non-null  object
 17  purpose                      466285 non-null  object
 18  addr_state                   466285 non-null  object
 19  dti                          466285 non-null  float64
 20  delinq_2yrs                  466256 non-null  float64
 21  inq_last_6mths               466256 non-null  float64
 22  mths_since_last_delinq       215934 non-null  float64
 23  mths_since_last_record       62638 non-null   float64
 24  open_acc                     466256 non-null  float64
 25  pub_rec                      466256 non-null  float64
 26  revol_bal                    466285 non-null  int64
 27  revol_util                   465945 non-null  float64
 28  total_acc                    466256 non-null  float64
 29  initial_list_status          466285 non-null  object
 30  out_prncp                    466285 non-null  float64
 31  out_prncp_inv                466285 non-null  float64
 32  total_pymnt                  466285 non-null  float64
 33  total_pymnt_inv              466285 non-null  float64
 34  total_rec_prncp              466285 non-null  float64
 35  total_rec_int                466285 non-null  float64
 36  total_rec_late_fee           466285 non-null  float64
 37  recoveries                   466285 non-null  float64
 38  collection_recovery_fee      466285 non-null  float64
 39  last_pymnt_amnt              466285 non-null  float64
 40  collections_12_mths_ex_med   466140 non-null  float64
 41  mths_since_last_major_derog  98974 non-null   float64
 42  policy_code                  466285 non-null  int64
 43  acc_now_delinq               466256 non-null  float64
 44  tot_coll_amt                 396009 non-null  float64
 45  tot_cur_bal                  396009 non-null  float64
 46  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(29), int64(6), object(12)
memory usage: 167.2+ MB

## b. Look data at each column

We have 47 columns, we will look at unique value in each columns

In [ ]:
# Function to look at each unique values in column
def unique_value(x, y):
  column_res = []
  for i in range(x, y+1):
    if len(df.iloc[:, i].unique()) <= 30:
      print(df.columns[i])
      print(df.iloc[:, i].unique())
      print('----------------------')
    else:
      column_res.append(df.columns[i])
  print('Columns with too much unique value:', column_res)

In [ ]:
# column 0 - 13
unique_value(0, 13)

term
[' 36 months' ' 60 months']
----------------------
grade
['B' 'C' 'A' 'E' 'F' 'D' 'G']
----------------------
emp_length
['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
----------------------
home_ownership
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' 'ANY']
----------------------
Columns with too much unique value: ['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment', 'sub_grade', 'emp_title', 'annual_inc']

In [ ]:
df['sub_grade'].unique()
# The meaning of loan subgrade
# https://www.lendingclub.com/foliofn/rateDetail.action

array(['B2', 'C4', 'C5', 'C1', 'B5', 'A4', 'E1', 'F2', 'C3', 'B1', 'D1',
       'A1', 'B3', 'B4', 'C2', 'D2', 'A3', 'A5', 'D5', 'A2', 'E4', 'D3',
       'D4', 'F3', 'E3', 'F4', 'F1', 'E5', 'G4', 'E2', 'G3', 'G2', 'G1',
       'F5', 'G5'], dtype=object)

In [ ]:
print(df['emp_title'].unique())
print(df['emp_title'].nunique())

[nan 'Ryder' 'AIR RESOURCES BOARD' ... 'MecÃ¡nica'
 'Chief of Interpretation (Park Ranger)' 'Server Engineer Lead']

In [ ]:
# column 14 - 26
unique_value(14, 26)

verification_status
['Verified' 'Source Verified' 'Not Verified']
----------------------
loan_status
['Fully Paid' 'Charged Off' 'Current' 'Default' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)'
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']
----------------------
pymnt_plan
['n' 'y']
----------------------
purpose
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
----------------------
delinq_2yrs
[ 0.  2.  3.  1.  4.  6.  5.  8.  7.  9. 11. nan 13. 15. 10. 12. 17. 18.
 29. 24. 14. 21. 22. 19. 16.]
----------------------
inq_last_6mths
[ 1.  5.  2.  0.  3.  4.  6.  7.  8.  9. 10. 11. 12. 15. 14. 33. 17. 32.
 24. 13. 18. 16. 31. 28. 25. 27. 20. 19. nan]
----------------------
pub_rec
[ 0.  1.  2.  3.  4.  5. nan  6.  9.  8.  7. 11. 49. 10. 54. 12. 18. 19.
 16. 15. 14. 40. 63. 13. 21. 34. 17.]
----------------------
Columns with too much unique value: ['addr_state', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal']

In [ ]:
df['mths_since_last_delinq'].unique()

array([ nan,  35.,  38.,  61.,   8.,  20.,  18.,  68.,  45.,  48.,  41.,
        40.,  74.,  25.,  53.,  39.,  10.,  26.,  56.,  77.,  28.,  52.,
        24.,  16.,  60.,  54.,  23.,   9.,  11.,  13.,  65.,  19.,  80.,
        22.,  59.,  79.,  44.,  64.,  57.,  14.,  63.,  49.,  15.,  73.,
        70.,  29.,  51.,   5.,  75.,  55.,   2.,  30.,  47.,  33.,  69.,
         4.,  43.,  21.,  27.,  46.,  81.,  78.,  82.,  31.,  76.,  62.,
        72.,  42.,  50.,   3.,  12.,  67.,  36.,  34.,  58.,  17.,  71.,
        66.,  32.,   6.,  37.,   7.,   1.,  83.,  86., 115.,  96., 103.,
       120., 106.,  89., 107.,  85.,  97.,  95.,   0., 110.,  84., 135.,
        88.,  87., 122.,  91., 146., 134., 114.,  99.,  93., 127., 101.,
        94., 102., 129., 113., 139., 131., 156., 143., 109., 119., 149.,
       118., 130., 148., 126.,  90., 141., 116., 100., 152.,  98.,  92.,
       108., 133., 104., 111., 105., 170., 124., 136., 180., 188., 140.,
       151., 159., 121.])

In [ ]:
df['open_acc'].unique()

array([ 3.,  2., 10., 15.,  9.,  7.,  4., 11., 14., 12., 20.,  8.,  6.,
       17.,  5., 13., 16., 30., 21., 18., 19., 27., 23., 34., 25., 22.,
       24., 26., 32., 28., 29., 33., 31., 39., 35., 36., 38., 44., 41.,
       42.,  1., 46., 37., 47., nan, 40., 45., 49., 53., 51., 43.,  0.,
       62., 48., 50., 52., 54., 76., 58., 55., 84., 75., 61.])

In [ ]:
# column 27 - 39
unique_value(27, 39)

initial_list_status
['f' 'w']
----------------------
Columns with too much unique value: ['revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt']

In [ ]:
# df['revol_util'].unique()

In [ ]:
# column 40 - 46
unique_value(40, 46)

collections_12_mths_ex_med
[ 0. nan  1.  2.  4.  3.  6. 16. 20.  5.]
----------------------
policy_code
[1]
----------------------
acc_now_delinq
[ 0.  1. nan  2.  3.  5.  4.]
----------------------
Columns with too much unique value: ['mths_since_last_major_derog', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']

### Note and delete for the not important column (part 2)

- We could delete grade, because we already have sub grade column, it'll be redundant
- delete member_id and id, it doesn't related to anything for our modelling
- delete emp_title, too much unique values, curse dimentionality

In [ ]:
no_use_columns2 = [
    'grade', 'id', 'member_id', 'emp_title'
]

df.drop(no_use_columns2, inplace=True, axis=1)

In [ ]:
df.sample(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
38104,4000,4000,3675.0,36 months,9.32,127.79,A4,5 years,OTHER,55000.0,Not Verified,Fully Paid,n,car,CA,6.76,0.0,0.0,40.0,NaN,8.0,0.0,5287,18.4,22.0,f,0.00,0.00,4058.83,3729.07,4000.00,58.83,0.0,0.0,0.0,3559.61,0.0,NaN,1,0.0,NaN,NaN,NaN
196446,29700,29700,29700.0,36 months,15.80,1041.24,C3,4 years,RENT,75000.0,Verified,Fully Paid,n,debt_consolidation,HI,28.98,0.0,1.0,NaN,NaN,9.0,0.0,40649,72.1,13.0,f,0.00,0.00,34610.89,34610.89,29700.00,4910.89,0.0,0.0,0.0,20044.20,0.0,NaN,1,0.0,0.0,62550.0,56400.0
321131,7800,7800,7800.0,36 months,12.49,260.91,B5,9 years,RENT,42000.0,Not Verified,Current,n,credit_card,PA,12.79,0.0,1.0,NaN,NaN,15.0,0.0,13971,53.3,17.0,w,4476.53,4476.53,4435.47,4435.47,3323.47,1112.00,0.0,0.0,0.0,260.91,0.0,NaN,1,0.0,0.0,62660.0,26200.0

## c. Missing value

In [ ]:
# look at the missing values
df.isna().sum()

loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
sub_grade                           0
emp_length                      21008
home_ownership                      0
annual_inc                          4
verification_status                 0
loan_status                         0
pymnt_plan                          0
purpose                             0
addr_state                          0
dti                                 0
delinq_2yrs                        29
inq_last_6mths                     29
mths_since_last_delinq         250351
mths_since_last_record         403647
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        340
total_acc                          29
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_amnt                     0
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
policy_code                         0
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
dtype: int64

In [ ]:
# look at the missing values (in 0-1 scale)
df.isna().sum()*100 / len(df)

loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
term                            0.000000
int_rate                        0.000000
installment                     0.000000
sub_grade                       0.000000
emp_length                      4.505399
home_ownership                  0.000000
annual_inc                      0.000858
verification_status             0.000000
loan_status                     0.000000
pymnt_plan                      0.000000
purpose                         0.000000
addr_state                      0.000000
dti                             0.000000
delinq_2yrs                     0.006219
inq_last_6mths                  0.006219
mths_since_last_delinq         53.690554
mths_since_last_record         86.566585
open_acc                        0.006219
pub_rec                         0.006219
revol_bal                       0.000000
revol_util                      0.072917
total_acc                       0.006219
initial_list_status             0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_pymnt                     0.000000
total_pymnt_inv                 0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_pymnt_amnt                 0.000000
collections_12_mths_ex_med      0.031097
mths_since_last_major_derog    78.773926
policy_code                     0.000000
acc_now_delinq                  0.006219
tot_coll_amt                   15.071469
tot_cur_bal                    15.071469
total_rev_hi_lim               15.071469
dtype: float64

### Note for cleaning the missing values

- 'mths_since_last_record', 'mths_since_last_delinq' and 'mths_since_last_major_derog', drop the column. Too much missing value

- 'emp_length', 'annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_util', 'total_acc', 'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', and 'total_rev_hi_lim', drop the rows that has null values

In [ ]:
# copy the dataset just in case we need to use the original
df_copy = df.copy()

### Drop column that has too much missing values

In [ ]:
df_copy.drop('mths_since_last_record',axis=1,inplace=True)
df_copy.drop('mths_since_last_delinq',axis=1,inplace=True)
df_copy.drop('mths_since_last_major_derog',axis=1,inplace=True)

### Drop the row that has missing values

In [ ]:
df_clean = df_copy.dropna(axis=0)

### Check again the missing values

In [ ]:
# look at the missing values
df_clean.isna().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
sub_grade                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
loan_status                   0
pymnt_plan                    0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
dtype: int64

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376850 entries, 42535 to 466284
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   376850 non-null  int64
 1   funded_amnt                 376850 non-null  int64
 2   funded_amnt_inv             376850 non-null  float64
 3   term                        376850 non-null  object
 4   int_rate                    376850 non-null  float64
 5   installment                 376850 non-null  float64
 6   sub_grade                   376850 non-null  object
 7   emp_length                  376850 non-null  object
 8   home_ownership              376850 non-null  object
 9   annual_inc                  376850 non-null  float64
 10  verification_status         376850 non-null  object
 11  loan_status                 376850 non-null  object
 12  pymnt_plan                  376850 non-null  object
 13  purpose                     376850 non-null  object
 14  addr_state                  376850 non-null  object
 15  dti                         376850 non-null  float64
 16  delinq_2yrs                 376850 non-null  float64
 17  inq_last_6mths              376850 non-null  float64
 18  open_acc                    376850 non-null  float64
 19  pub_rec                     376850 non-null  float64
 20  revol_bal                   376850 non-null  int64
 21  revol_util                  376850 non-null  float64
 22  total_acc                   376850 non-null  float64
 23  initial_list_status         376850 non-null  object
 24  out_prncp                   376850 non-null  float64
 25  out_prncp_inv               376850 non-null  float64
 26  total_pymnt                 376850 non-null  float64
 27  total_pymnt_inv             376850 non-null  float64
 28  total_rec_prncp             376850 non-null  float64
 29  total_rec_int               376850 non-null  float64
 30  total_rec_late_fee          376850 non-null  float64
 31  recoveries                  376850 non-null  float64
 32  collection_recovery_fee     376850 non-null  float64
 33  last_pymnt_amnt             376850 non-null  float64
 34  collections_12_mths_ex_med  376850 non-null  float64
 35  policy_code                 376850 non-null  int64
 36  acc_now_delinq              376850 non-null  float64
 37  tot_coll_amt                376850 non-null  float64
 38  tot_cur_bal                 376850 non-null  float64
 39  total_rev_hi_lim            376850 non-null  float64
dtypes: float64(26), int64(4), object(10)
memory usage: 117.9+ MB

## d. Duplicate Value

In [ ]:
duplicate = df_clean[df_clean.duplicated()]
 
print("Duplicate Rows :")

Duplicate Rows :

We don't have any duplicate value

## e. Data type

In [ ]:
df_clean.sample(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
173859,34475,34475,34425.0,36 months,16.29,1216.99,C4,4 years,MORTGAGE,110000.0,Verified,Fully Paid,n,debt_consolidation,CT,6.27,0.0,1.0,13.0,0.0,20099,73.1,19.0,f,0.00,0.00,43811.19855,43747.66,34475.00,9336.20,0.0,0.0,0.0,1216.54,0.0,1,0.0,0.0,292365.0,27500.0
142239,7000,7000,7000.0,36 months,18.49,254.80,D2,9 years,MORTGAGE,48000.0,Verified,Current,n,debt_consolidation,PA,10.58,1.0,2.0,8.0,0.0,6106,96.9,20.0,f,966.61,966.61,8168.60000,8168.60,6033.39,2135.21,0.0,0.0,0.0,254.80,0.0,1,0.0,0.0,149748.0,6300.0

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376850 entries, 42535 to 466284
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   376850 non-null  int64
 1   funded_amnt                 376850 non-null  int64
 2   funded_amnt_inv             376850 non-null  float64
 3   term                        376850 non-null  object
 4   int_rate                    376850 non-null  float64
 5   installment                 376850 non-null  float64
 6   sub_grade                   376850 non-null  object
 7   emp_length                  376850 non-null  object
 8   home_ownership              376850 non-null  object
 9   annual_inc                  376850 non-null  float64
 10  verification_status         376850 non-null  object
 11  loan_status                 376850 non-null  object
 12  pymnt_plan                  376850 non-null  object
 13  purpose                     376850 non-null  object
 14  addr_state                  376850 non-null  object
 15  dti                         376850 non-null  float64
 16  delinq_2yrs                 376850 non-null  float64
 17  inq_last_6mths              376850 non-null  float64
 18  open_acc                    376850 non-null  float64
 19  pub_rec                     376850 non-null  float64
 20  revol_bal                   376850 non-null  int64
 21  revol_util                  376850 non-null  float64
 22  total_acc                   376850 non-null  float64
 23  initial_list_status         376850 non-null  object
 24  out_prncp                   376850 non-null  float64
 25  out_prncp_inv               376850 non-null  float64
 26  total_pymnt                 376850 non-null  float64
 27  total_pymnt_inv             376850 non-null  float64
 28  total_rec_prncp             376850 non-null  float64
 29  total_rec_int               376850 non-null  float64
 30  total_rec_late_fee          376850 non-null  float64
 31  recoveries                  376850 non-null  float64
 32  collection_recovery_fee     376850 non-null  float64
 33  last_pymnt_amnt             376850 non-null  float64
 34  collections_12_mths_ex_med  376850 non-null  float64
 35  policy_code                 376850 non-null  int64
 36  acc_now_delinq              376850 non-null  float64
 37  tot_coll_amt                376850 non-null  float64
 38  tot_cur_bal                 376850 non-null  float64
 39  total_rev_hi_lim            376850 non-null  float64
dtypes: float64(26), int64(4), object(10)
memory usage: 117.9+ MB

### Note for Data type
- The data type of each column seem right
- We could convert object type data to numeric using labelEncoder later

# Save dataframe

In [ ]:
# to csv
# dataframe that does'nt have outlier
path = '/content/drive/MyDrive/0.Data_analyst_important_thing/1.VIX_rakamin_DS_IDX/Tugas2_VIX_Rakamin_DS_IDX/file/'
df_clean.to_csv(path+'df_clean.csv', index=False, encoding='utf-8')

# References:
- Data leakage: https://www.analyticsvidhya.com/blog/2021/07/data-leakage-and-its-effect-on-the-performance-of-an-ml-model/
- Date column in modelling: https://stackoverflow.com/questions/53955118/how-can-i-use-date-variable-while-building-the-model


=> Data Cleaning
- Unique value: https://www.geeksforgeeks.org/pandas-find-unique-values-from-multiple-columns/#:~:text=Pandas%20series%20aka%20columns%20has,unique%20of%20the%20resultant%20column.
- Percentage missing values: https://www.thiscodeworks.com/python-find-out-the-percentage-of-missing-values-in-each-column-in-the-given-dataset-stack-overflow-python/607d4c3f6013b5001411542c
- Handling missing value: https://www.analyticsvidhya.com/blog/2021/10/handling-missing-value/
- Check duplicate Value: https://www.geeksforgeeks.org/find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns/


- replace value: https://predictivehacks.com/?all-tips=replace-values-based-on-index-in-pandas-dataframes#:~:text=You%20can%20easily%20replace%20a,its%20column%20and%20its%20index.&text=Having%20the%20dataframe%20above%2C%20we,the%20second%20is%20its%20column.